[
{% if recall | default(False) %}
    {
        'name': 'recall',
        'k': {{ recall_k | default([1, 2, 4, 8]) }},
        'batch_design': {
            'name': 'vanilla',
            'batch_size': 48,
        },
        'dataset': 'test',
    },
{% endif %}
{% if contrastive_train_loss | default(False) %}
    {
        'name': 'contrastive_loss',
        'batch_design': {
            'name': 'vanilla',
            'batch_size': 48,
        },
        'dataset': 'train',
    },
{% endif %}
{% if auc | default(False) %}
    {
        'name': 'auc',
        'batch_design': {
            'name': 'vanilla',
            'batch_size': 48,
        },
        'dataset': 'test',
        'num_samples': 100000,
    },
{% endif %}
{% if nmi | default(False) %}
    {
        'name': 'nmi',
        'batch_design': {
            'name': 'vanilla',
            'batch_size': 48,
        },
        'dataset': 'test',
    },
{% endif %}
{% if vrf | default(False) %}
    {
        'name': 'vrf',
        'k': {{ vrf_k | default([1, 3, 7, 15, 31]) }},
        'batch_design': {
            'name': 'vanilla',
            'batch_size': 48,
        },
        'dataset': 'test',
        'num_samples': 10000,
    },
{% endif %}
{% if lfw_acc | default(False) %}
    {
        'name': 'lfw_acc',
        'batch_design': {
            'name': 'vanilla',
            'batch_size': 48,
        },
        'dataset': 'test',
    },
{% endif %}
]
